<!DOCTYPE html>
<html dir="{{direction}}" lang="{{lang}}">
<head>
    <meta charset="UTF-8" />
    <title>{{text_frontend_title}}</title>
    <base href="{{base}}" />
    <link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
    <link href="view/javascript/d_visual_designer/dist/vd-libraries.min.css" type="text/css" rel="stylesheet" />
    <link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
    <link type="text/css" href="view/javascript/summernote/summernote.css" rel="stylesheet" media="all" />
    <link type="text/css" href="view/stylesheet/d_visual_designer/frontend.css" rel="stylesheet" media="all" />
    <link type="text/css" href="view/javascript/d_alertify/css/alertify.min.css" rel="stylesheet" media="all" />
    <link type="text/css" href="view/javascript/d_alertify/css/themes/bootstrap.min.css" rel="stylesheet" media="all" />
    <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
    {% for style in styles %}
        <link type="text/css" href="{{style.href}}" rel="{{style.rel}}" media="{{style.media}}" />
    {% endfor %}
    <script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="view/javascript/common.js"></script>
    <script type="text/javascript" src="view/javascript/d_riot/riotcompiler.min.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/summernote.min.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/dist/vd-libraries.min.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/main.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/model/frontend.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/model/block_front.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/model/template.js"></script>
    <script type="text/javascript" src="view/javascript/d_visual_designer/model/history.js"></script>
    <script src="view/javascript/jquery/datetimepicker/moment.js" type="text/javascript"></script>
    <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="view/javascript/d_alertify/alertify.min.js"></script>
    {% for script in scripts %}
        <script type="text/javascript" src="{{script}}"></script>
    {% endfor %}
</head>
<body>
    <div data-is="vd-navbar-container"  id="vd-navbar-container">
        <div id="visual-designer-preloader"></div>
        <div id="visual-designer-preloader-icon" class="la-ball-scale-ripple-multiple la-2x"><div></div><div></div><div></div></div>
    </div>
    <script type="text/javascript">
       $(document).ready(function(){
            riot.compile({{riot_tags|json_encode}}, function(e) {
                d_visual_designer.initLocal({{local|json_encode(constant('JSON_FORCE_OBJECT'))}})
                d_visual_designer.initOptions({{options|json_encode(constant('JSON_FORCE_OBJECT'))}})
                d_visual_designer.initState({{state|json_encode(constant('JSON_FORCE_OBJECT'))}})
                d_visual_designer.initExternalDesigner({})
                riot.mount(document.getElementById('vd-navbar-container'))
            })
        });
    </script>
</body>
</html>