{% for style in styles %}
    <link href="{{style}}" rel="stylesheet" />
{% endfor %}
{% for script in scripts %}
    <script type="text/javascript" src="{{script}}"></script>
{% endfor %}
 {% for riot_tag in riot_tags %}
<script src="{{riot_tag}}" type="riot/tag"></script>
{% endfor %}
{% if edit_url %}
    <div class="btn-group-xs btn-edit" >
        <a class="btn btn-default" href="{{edit_url}}" target="_blank">
            <i class="fa fa-pencil"></i>{{text_edit}}
        </a>
        <br/><br/>
    </div>
{% endif %}
<div class="vd-frontent-text">{{content}}</div>
<visual-designer id="{{designer_id}}"></visual-designer>
<script type="text/javascript">
    $(document).ready(function(){
        d_visual_designer.initLocal({{local|json_encode(constant('JSON_FORCE_OBJECT'))}})
        d_visual_designer.initOptions({{options|json_encode(constant('JSON_FORCE_OBJECT'))}})
        d_visual_designer.initState({{state|json_encode(constant('JSON_FORCE_OBJECT'))}})
        riot.mount('visual-designer');
    })
</script>