<div class="vd-frontend">
    {% if edit_url %}
        <div class="vd-btn-frontend-edit btn-group-xs btn-edit" >
            <a class="btn btn-default" href="{{edit_url}}" target="_blank">
                <i class="fa fa-pencil"></i>{{text_edit}}
            </a>
        </div>
    {% endif %}
    <visual-designer id="{{designer_id}}"><div class="vd">{{ content }}</div></visual-designer>
</div>
<script type="text/javascript">

    $(document).ready(function(){
        
        request_body = {{ request_body|raw }};

        $.post('index.php?route=extension/d_visual_designer/designer/get_content_data_via_ajax', request_body, function(json) {
            d_visual_designer.initLocal(json.local);
            d_visual_designer.initOptions(json.options);
            d_visual_designer.initState(json.state);
            riot.compile({{riot_tags|json_encode}}, function(){
                riot.mount(document.getElementById('{{ designer_id }}'));
            });
        });
    })
</script>