<div class="block-child block-container col-md-{{size}} level{{level}}" id="{{key}}"  data-id="{{key}}" data-title="{{title}}" data-image="{{image}}">
    <div class="control control-{{control_position}}" data-control="{{key}}">
        {% if button_drag %}
            <a class="drag vd-btn vd-btn-small vd-btn-drag"></a>
        {% endif %}
        {% if button_edit %}
            <a id="button_edit" class="vd-btn vd-btn-small vd-btn-edit" title="{{help_edit}}"></a>
        {% endif %}
        {% if button_copy %}
            <a id="button_copy" class="vd-btn vd-btn-small vd-btn-copy" title="{{help_copy}}"></a>
        {% endif %}
        {% if button_remove %}
            <a id="button_remove" class="vd-btn vd-btn-small vd-btn-remove" title="{{help_remove}}"></a>
        {% endif %}
        <div class="block-button {{child?'hidden'}}">
            <a id="button_add_block"  class="vd-btn vd-btn-add button-add-bottom"></a>
        </div>
    </div>
    <div class="block-content clearfix child" data-id="{{key}}">
        {% if display_title %}
            <h4 class="block-title"><img  src="{{image}}"/>{{title}}</h4>
        {% endif %}
        <div class="container-child">
            {{content}}
        </div>
    </div>
</div>
