<div class="vd-image-container vd-image-align-{{ setting.global.align }} {{id}} {{ setting.global.additional_css_class }}" >
    <div class="vd-image-title">
        <h2>{{ setting.global.title }}</h2>
    </div>
    <div class="vd-image-wrapper vd-image-size-{{ setting.global.size }}">
        <div class="vd-image {{ setting.global.style?'vd-image-style'~setting.global.style }}">
            <a>
                {% if not setting.user.webp_thumb %}
                    <img src="{{ setting.user.thumb }}" alt="{{ setting.global.image_alt }}" title="{{ setting.global.image_title }}"/>
                {% elseif setting.user.webp_thumb %}
                    <picture>
                        <source srcset="{{ setting.user.webp_thumb }}" type="image/webp">
                        <img src="{{ setting.user.thumb }}" alt="{{ setting.global.image_alt }}" title="{{ setting.global.image_title }}">
                    </picture>
                {% endif %}
            </a>
        </div>
    </div>
</div>