
{% set className = '' %}
{% if setting.global.align %}
    {% if setting.global.align == 'left' %}
        {% set className = className~' justify-content-start' %}
    {% endif %}
    {% if setting.global.align == 'center' %}
        {% set className = className~' justify-content-center' %}
    {% endif %}
    {% if setting.global.align == 'right' %}
        {% set className = className~' justify-content-end' %}
    {% endif %}
{% endif %}
{% if setting.global.align_items %}
    {% set className = className~' align-items-'~setting.global.align_items %}
{% endif %}
<div class="no-padding container{{ setting.global.container == 'fluid' ? '-fluid' }}">
    <div class="row {{className}} {{id}} no-gutters {{ setting.global.additional_css_class }}" >{{ children }}</div>
</div>