<div class="block-parent block-container {{ setting.background_video?'video'}} {{setting.design_show_on?setting.design_show_on|join(' ')}} {{setting.design_animate?'animated '~setting.design_animate}} {{ setting.additional_css_class? setting.additional_css_class}}" id="{{key}}" data-title="{{title}}" data-image="{{image}}">
    {% if permission and display_control %}
        <div class="block-mouse-toggle"></div>
        <div class="control control-{{control_position}}" data-control="{{key}}">
            {% if button_drag %}
                <a class="drag vd-btn vd-btn-small vd-btn-drag"></a>
            {% endif %}
            {% if button_edit %}
                <a id="button_edit" class="vd-btn vd-btn-small vd-btn-edit"></a>
            {% endif %}
            {% if button_copy %}
                <a id="button_copy" class="vd-btn vd-btn-small vd-btn-copy"></a>
            {% endif %}
            {% if button_layout %}
                <a id="button_layout" class="vd-btn vd-btn-small vd-btn-layout"></a>
            {% endif %}
            {% if child %}
                <a id="button_add_child" class="vd-btn vd-btn-small vd-btn-add-child"></a>
            {% endif %}
            {% if button_remove %}
                <a id="button_remove" class="vd-btn vd-btn-small vd-btn-remove"></a>
            {% endif %}
        </div>
        <div class="vd-border vd-border-left"></div>
        <div class="vd-border vd-border-top"></div>
        <div class="vd-border vd-border-right"></div>
        <div class="vd-border vd-border-bottom"></div>
    {% endif %}
    <style>
        #{{key}}.block-parent.block-container{
            {% include template('extension/d_visual_designer/partials/layout_style') %}
        }
        #{{key}}.block-parent.block-container:before{
            {% if setting.additional_css_before %}
            {{setting.additional_css_before}}
            {% endif %}
        }
        #{{key}}.block-parent.block-container:after{
            {% if setting.additional_css_after %}
            {{setting.additional_css_after}}
            {% endif %}
        }
    </style>
    <div class="block-content {{ child? 'child' }}" data-id="{{key}}">{{content}}</div>
</div>
