<div class="block-inner block-container col-md-offset-{{offset}} {{setting.offset_phone?'col-xs-offset-'~setting.offset_phone}} {{setting.offset_tablet?'col-sm-offset-'~setting.offset_tablet}} col-md-{{size}} {{setting.size_phone?'col-xs-'~setting.size_phone}} {{setting.size_tablet?'col-sm-'~setting.size_tablet}} level{{level}} {{setting.design_show_on?setting.design_show_on|join(' ')}} {{setting.design_animate?'animated '~setting.design_animate}} {{ setting.additional_css_class? setting.additional_css_class}}" id="{{key}}" data-title="{{title}}" data-image="{{image}}">
    {% if permission and display_control %}
        <div class="block-mouse-toggle"></div>
        <div class="control control-{{control_position}}" data-control="{{key}}">
            {% if button_drag %}
                <a class="drag vd-btn vd-btn-small vd-btn-drag"></a>
            {% endif %}
            {% if child %}
                <a id="button_add_child" class="vd-btn vd-btn-small vd-btn-add-child"></a>
            {% endif %}
            {% if button_edit %}
                <a id="button_edit" class="vd-btn vd-btn-small vd-btn-edit"></a>
            {% endif %}
            {% if button_copy %}
                <a id="button_copy" class="vd-btn vd-btn-small vd-btn-copy"></a>
            {% endif %}
            {% if button_remove %}
                <a id="button_remove" class="vd-btn vd-btn-small vd-btn-remove"></a>
            {% endif %}
        </div>
        <div class="vd-border vd-border-left"></div>
        <div class="vd-border vd-border-top"></div>
        <div class="vd-border vd-border-right"></div>
        <div class="vd-border vd-border-bottom"></div>
    {% endif %}
    <style>
        #{{key}}.block-inner.block-container{
            {% include template('extension/d_visual_designer/partials/layout_style') %}
        }

        {% if setting.additional_css_before %}
        #{{key}}.block-inner.block-container:before {
            {{setting.additional_css_before}}
        }
        {% endif %}

        {% if setting.additional_css_after %}
        #{{key}}.block-inner.block-container:after {
            {{setting.additional_css_after}}
        }
        {% endif %}

        {% if setting.float %}
        #{{key}}.block-inner.block-container > .block-content > .block-child {
            float:left;
            width:auto;
        }
        #{{key}}.block-inner.block-container > .block-content {
            display: flex;
            {% if setting.align == 'left' %}
            justify-content: flex-start;
            {% endif %}

            {% if setting.align == 'center' %}
            justify-content: center;
            {% endif %}

            {% if setting.align == 'right' %}
            justify-content: flex-end;
            {% endif %}
        }
        {% endif %}
    </style>
    <div class="block-content {{ child?'child'}}" data-id="{{key}}">{{content}}</div>
</div>
